.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;   
        text-align: center;
}
.background{
    background-color: rgb(32, 31, 31);
    padding-top: 17%;
    padding-bottom: 17%;
}
.head{
        color: rgb(61, 172, 61);
    text-decoration: solid;
}
input{
   margin-left: 20px;
}
.email{
    margin-left: 25px;
}
.button{
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 20px;
}
.warning{
    color: red;
    display: block;
}
@media only screen and (max-width: 1200px){
    .background{
        background-color: rgb(32, 31, 31);
        padding-top: 30%;
        padding-bottom: 30%;
    }   
}